# Create your own .env file
# Copy the variables below
# In the new .env file adjust values according to your need

# Check the following link to learn more about the env variables for hasura
# https://hasura.io/docs/latest/hasura-cli/config-reference/#environment-variables

# To authenticate with bearer token enable the following variable
# Read more https://hasura.io/docs/latest/auth/authentication/jwt/
# HASURA_GRAPHQL_JWT_SECRET={"type": "HS256", "key": "ADD SECRET KEY"

# Use a strong password generator like https://www.lastpass.com/features/password-generator
HASURA_GRAPHQL_ADMIN_SECRET=RH8lhanjz8c51UkYbF1VhXorr

HASURA_GRAPHQL_ENDPOINT=http://localhost:8080

# postgres database to store Hasura metadata
HASURA_GRAPHQL_METADATA_DATABASE_URL= postgres://postgres:postgrespassword@postgres:5432/postgres
# this env var can be used to add the above postgres database to Hasura as a data source. this can be removed/updated based on your needs
PG_DATABASE_URL= postgres://postgres:postgrespassword@postgres:5432/postgres

# Action urls

# Remote schema urls

# Event urls